.ngttl
{
	font-size:14px;
}

.cngb
{
	font-size:13px;
}


.logoimg
{
	width:10%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
.serch
{
	margin-top:10px;
}

.box h4
{
/*margin-left:43%;*/
color:#FFFFFF;
font-size:13px;
padding:0px 3px 0px 3px;

}

.box p
{
color:#fff;
text-align: justify;
}

.face
{
 width:30%;
      height: 100%;
      border-radius: 50%;
	  float:left;
	  text-align:center;
	  margin-left:auto;
	  margin-right:auto;
	  background-color: #A8D3FF;
}

.box
{
	padding:3% 0 7% 0%;
	margin:1% 0% 0% 0%;
	width:100%;
}
.leftimg
{
/*width:50%;
height:5%;*/

}
.leftimg
{
/*border-radius:50%;*/
}
.leftimg img
{
	


/*margin-top: 7px;
margin-bottom: 17px;
margin-left:auto;
margin-right:auto;
text-align:center;*/
width:105px;
height:115px;
border-radius:50%;


	
}
.rightcnt
{
	/*margin:0px 3px 0px 5px;*/
}

.rightcnt h3
{   /*margin-left: 43%;*/
	font-size:14px;
	color:#910c1c;
	padding:0px 0px 0px 0px;
}
.rightcnt h4
{  
	color:#910c1c;
	
}
#cont ul li
{
width:100%;
height:auto;
float:left;
padding:0px;
margin:0px;
text-align:left;
list-style:none;
font-size:12px;
line-height:25px;
color:#910c1c;

}
#cont ul
{
float:left;
padding:0px;
margin: 10px 0px -41px 15px;
}
#cont
{
width:100%;
height:auto;
float:left;
padding-top:2%;
padding-bottom:8%;
margin-bottom:6%;

}

#cont ion-icon 
{
	color:#3b7ac9;
}
ion-icon 
{
	padding-right:10px;
	
}


.new-background-color{
    --background: red;
}


