<ion-content padding>
    <div style="padding-top:100px;text-align:center">
        <img src="assets/images/logo.jpg"><br>
      Please wait , loading your data...
    </div>  

<div style="padding-top:100px;display:none;">
  
    <form #form="ngForm" (ngSubmit)="login(form)" method="post">
      <ion-item>
          <img src="assets/images/logo.jpg"><br>
          
      </ion-item>

      <ion-item style="padding:20px 0px 0px 0px;border:none;">
        
        Enter your mobile number for verification
      </ion-item>
    
      <ion-item style="padding:0px 0px 20px 0px">
        
        <ion-input ngModel type="text" name="mobilenumber" style="border:1px solid #ccc"></ion-input>
      </ion-item>
    
      
    
      <ion-button type="submit" expand="full" color="primary">Login</ion-button>
    </form>
  </div>
  

  

</ion-content>

