


  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button  defaultHref="pngb"></ion-back-button>
      </ion-buttons>
      <ion-title>
        COMMITTEE
      </ion-title>
      <!--
      <ion-buttons slot="end">
        <ion-button routerLink="/create"><ion-icon name="add-circle"></ion-icon></ion-button>
      </ion-buttons>
      -->
    </ion-toolbar>
  </ion-header>
  
  
  

  <ion-content class="backgrounddetails">

    <ion-searchbar class="serch" [(ngModel)]="searchKey"></ion-searchbar>
    <ion-row *ngFor="let data of listData | filter : searchKey">
        <div class="col-sm-12 col-md-12 box" >
                <div class="col-md-12 col-sm-12" text-center>
            <div class="col-md-6 leftimg">
                <img src="assets/images/jc.png">
            </div>
          </div>
          <div class="col-md-12 col-sm-12" text-center>
            <div class="col-md-6 rightcnt" text-center>
              <h3 >{{data.committee_name}}</h3>
              <h4>{{data.committee_designation}}</h4>
             
            </div>
        </div>
  
  
        <div class="col-md-12">
            <div id="cont">
                <ul>
                  <li> <ion-icon name="home"></ion-icon>{{data.committee_lom}}</li>
                  <li (click)="makecall(data.committee_mobile)"> <ion-icon name="call"></ion-icon>{{data.committee_mobile}} </li>  
                  <li (click)="savemail(data.committee_emaill)"> <ion-icon name="mail"></ion-icon>{{data.committee_email}}</li>
                  <li> <ion-icon name="pin"></ion-icon>{{data.committee_address}}</li>
              </ul>
            </div>
    </div>
  </div>
  </ion-row>


    


</ion-content>




 
      

