.logoimg
{
	width:10%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
.etitle
{
	font-size:14px;
}




.zone
{   padding:5px 5px 15px 10px;
	width:100%;
	float:left;
	/*background-color:#F9F9F9;
	background-color: #BFDFFF;*/
	border-bottom:1px solid #ddd;
	/*border-radius:90px;*/
	margin:14px 0px 0px 0px;
	
	

}
.zone1
{   padding:10px 5px 10px 10px;
	width:100%;
	float:left;
	/*border-radius:90px;*/
	background-color:#F9F9F9;
	/*background-color:#BFDFFF;*/

	border-bottom:1px solid #ddd;
	margin: 0px 0px 5px 0px;
	
	

}
.zcnt
{
	width:25%;
	float:left;
	border-radius:30px;
	


}
.rocnt
{
	/*border-radius:48px;*/
	
	background-color:#1fb2f5;
	color:#fff;
	font-size:11px;
	    /*padding: 22px 5px 16px 10px;*/
}
.zright
{
	
	margin: 20px 0px 0px 0px;
    float: left;
    font-size: 12px;
    width:75%;
    padding:0px 5px 0px 5px;
}
/*.zone
{   padding:10px 5px 10px 10px;
	width:100%;
	float:left;
	background-color:#F9F9F9;
	/*background-color: #BFDFFF;
	border-bottom:1px solid #ddd;
	/*border-radius:90px;
	margin: 0px 0px 0px 0px;
	
	

}
.zone1
{   padding:10px 5px 10px 10px;
	width:100%;
	float:left;
	border-radius:90px;
	background-color:#F9F9F9;
	/*background-color:#BFDFFF;

	border-bottom:1px solid #ddd;
	margin: 0px 0px 10px 0px;
	
	

}
.zcnt
{
	width:30%;
	/*float:left;
	border-radius:30px;
	


}
.rocnt
{
	/*border-radius:48px;
	padding:31px 0px 25px 0px;
	background-color:#1fb2f5;
	color:#fff;
	font-size:11px;
}
.zright
{
	
	margin: 10px 0px 0px 2px;
   /* float: left;
    font-size: 11px;
}*/
ion-icon

{
	color:#3880ff;
}
