<ion-header>
  <ion-toolbar color="primary">
    <!--<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>-->
    <ion-buttons slot="start" (click)="dashboard()">
      <!-- <ion-menu-button></ion-menu-button>-->
        <ion-icon name="home" style="font-size:23px;color:#fff"></ion-icon>
    </ion-buttons>
    <ion-title>
      About JCI 
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  
<div class="col-md-12 col-sm-12" style="height:auto;">
 
     <div class="col-md-12 col-sm-12 jvc">
      <h5>Our Founder</h5>   
     </div> 
     <!--<div class="col-md-12 col-sm-12 cmpnylogo" text-center>
      <img src="assets/images/newlogo.png">
     </div>-->
     <div class="col-md-12 col-sm-12 aboutus" text-center>
     <img src="assets/images/founder.jpg">
     <h3>Henry GiessenBier</h3>
     <h4>1892-1935</h4>
     </div>
  
     
     <div class="col-md-12 col-sm-12 details">
       <p>
           From within the walls of the soul of this organization where in the foundation of character and good   citizenship are  laid,I hope a message will come in the sometime of tomorrow that will stir the people towards the establishment of a permanent and everlasting world peace.
       </p>

     </div>
     <div class="col-md-12 col-sm-12 jvc">
      <h5>Jaycee Cree</h5>   
     </div>
     <div class="col-md-12 col-sm-12 vision">

       <p>
We believe,<br>
That faith in God gives meaning and purpose to human life,<br>

That the brotherhood of man transcends the sovereignty of nations,<br>

That economic justice can best be won by free men through free enterprise,<br>

That goverment should be of laws rather than of men,<br>

That earth's greater treasure lies in human personality,<br>

And that service to humanity is the best work of life   
       </p>

     </div>
      <div class="col-md-12 col-sm-12 jvc">
      <h5>Our Vision</h5>   
     </div>
     <div class="col-md-12 col-sm-12 vision">
       <p>
           To be the leading global network of young active citizens
       </p>

     </div>
     <div class="col-md-12 col-sm-12 jvc">
      <h5>Our Mission</h5>   
     </div>
     <div class="col-md-12 col-sm-12 vision">
       <p>
           To provide development opportunities that empowers young people to create positive change
       </p>

     </div>

     <div class="col-md-12 col-sm-12 jvc">
      <h5>Member's Oath</h5>   
     </div>
     <div class="col-md-12 col-sm-12 vision">
       <p>
          "I do solemnly promise that i shall faithfully serve the purpose of the Junior Chamber and shall at all times uphold its ideal and principles."
       </p>

     </div>

     <div class="col-md-12 col-sm-12 jvc">
      <h5>Officer's Oath</h5>   
     </div>
     <div class="col-md-12 col-sm-12 vision">
       <p>
        "I do solemnly swear that i will faithfully execute the office of............................. of JCI ............................and will do best of my ability serve as the living example of this organizations philosophy and belief and uphold and enforce the constitution and policy of this organization at all times"
       </p>

     </div>
   
</div>
  
</ion-content>


