.logoimg
{
	width:10%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
.ttitle
{
	font-size:14px;
}

.zone
{padding:10px 5px 10px 10px;
	width:100%;
	float:left;
	background-color:#F9F9F9;
	border-bottom:1px solid #ddd;
	
	

}
.zone1
{padding:10px 5px 10px 10px;
	width:100%;
	float:left;
	background-color:#BFDFFF;
	border-bottom:1px solid #ddd;
	
	

}
.zcnt
{
	width:80%;
	float:left;
    font-size: 14px;

}
.zright
{
	
	float:right;
}
ion-icon

{
	color:#03a9f4;
}
.aboutus p
{
   text-align:justify;  	
}
.aboutus img
{
	border-radius:50%;
	width:28%;
	margin-top: 7px;
}
.jvc
{
	float:left;
	width:100%;

	border-bottom:1px solid #ddd;
	text-align:justify;
	font-size: 14px;
	line-height: 20px;
	padding:2px 17px 5px 17px;
    background-color: #3880ff;

	  

}
.jvc h5
{
	padding-top: 2px;
    margin-top: 3px;
    font-size: 15px;
    color: #fff;
    margin-bottom: 2px;

}
.details p
{
	
	font-size: 14px;
    text-align: justify;
    padding-left:10px;
    padding-right:10px;
    line-height: 20px;
}
.vision p
{
	padding-top: 53px;
	font-size: 14px;
    text-align: justify;
    padding-left:10px;
    padding-right:10px;
        line-height: 20px;
}
.aboutus h4
{
	 margin: 4px;
    font-size: 14px;
}
.aboutus h3
{
	padding-top: 0px;
    font-size: 15px;
    margin: 2px;
}
