.logoimg
{
	width:10%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
.ttitle
{
	font-size:14px;
}

.zone
{padding:10px 5px 10px 10px;
	width:100%;
	float:left;
	background-color:#F9F9F9;
	border-bottom:1px solid #ddd;
	
	

}
.zone1
{padding:10px 5px 10px 10px;
	width:100%;
	float:left;
	background-color:#BFDFFF;
	border-bottom:1px solid #ddd;
	
	

}
.zcnt
{
	width:80%;
	float:left;
    font-size: 14px;

}
.zright
{
	
	float:right;
}
ion-icon

{
	color:#03a9f4;
}
.btnsuggest
{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
