<ion-header>
  <ion-toolbar color="primary">
    <!--<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>-->
    <ion-buttons slot="start" (click)="dashboard()">
      <!-- <ion-menu-button></ion-menu-button>-->
        <ion-icon name="home" style="font-size:23px;color:#fff"></ion-icon>
    </ion-buttons>
    <ion-title>
      TRAINERS 
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>


  <ion-list>
    <ion-item *ngFor="let item of listData" (click)="showDetails(item.national_trainers_zone_id)">        
      
      <div class="item-note" style="font-size:16px;" >
        {{item.national_trainers_zone_name}}
      </div>

      <ion-icon name="arrow-dropright-circle" slot="end"></ion-icon>

    </ion-item>
  </ion-list>


  
</ion-content>


