<ion-header>
    <ion-toolbar color="primary">
      <!--<ion-buttons slot="start">
          <ion-back-button  defaultHref="dashboard"></ion-back-button>
      </ion-buttons>-->
      <ion-buttons slot="start" (click)="dashboard()">
      <!-- <ion-menu-button></ion-menu-button>-->
        <ion-icon name="home" style="font-size:23px;color:#ffffff"></ion-icon>
    </ion-buttons>
      <ion-title>
        NHQ
      </ion-title>
      <!--
      <ion-buttons slot="end">
        <ion-button routerLink="/create"><ion-icon name="add-circle"></ion-icon></ion-button>
      </ion-buttons>
      -->
    </ion-toolbar>
  </ion-header>

 
 <ion-content delegate-handle="myPageDelegate">


  <!--<ion-row>-->
     <div class="col-sm-12 col-md-12 box5" style="background-image: url(assets/images/blue-color-background-wallpaper-4.jpg);background-size:cover;position: relative;background-position: center center;
             ">
           
             <div class="col-sm-12 col-md-12 box5">
    <h4>National Head Quarter Administrative Structure</h4>
    <br><ul>
    <li>5 Areas (A, B, C, D & E )</li>
    <li>Portfolios  ( G & D, Trg, Mgt, Prg & Business)</li>
    <li>Membership Services</li>
    <li><a>Finance Department</a></li>
    <li>Internationalism</li>
    <li><a>Communication</a></li>
    <li>Foundation</li>
    <li>Events</li>
    <li><a>Front Desk</a></li>
    
    </ul>
<p>Each Area Officer is responsible for one portfolio, below are the details </p>
            </div>
         <div class="col-md-12 leftimg" text-center>
             <img src="assets/images/nhq/benedict.JPG">
         </div>
         <div class="col-md-12 rightcnt" text-center>
           <h3 style="font-weight: bold">BENEDICT K M</h3>
           <h5>Secretary General</h5>
            <h5><i>Email : nhq@jciindia.in</i></h5>
             <h5><i>Mobile :022-71117112</i></h5>
         </div>
     


    
</div>
<!--</ion-row>-->
<ion-row>
     <div class="col-md-12 subhead">
       AREA A & PORTFOLIO: BUSINESS
     </div>

     <div class="col-sm-12 col-md-12 box5" style="background-image: url(assets/images/blue-color-background-wallpaper-4.jpg);background-size:cover;position: relative;background-position: center center;
             ">
         <div class="col-md-12 leftimg" text-center>
             <img src="assets/images/nhq/SWAPNIL.jpg">
             <h3> Mr. SWAPNIL RESHIM</h3>
         </div>
         
     


      <div class="col-md-12">
          <table>
              <tr>
                
              </tr>
              <tr>
                <td>
                  Alloted Zone
                </td>
                <td>
                  I,III,XIV,XVII,XXI
                </td>
              </tr>
              <tr>
                <td>
                  Assigned EVP
                </td>
                <td>
                  JC ANSHU SARAF
                </td>
              </tr>
              <tr>
                <td>
                  Assigned National Director
                </td>
                <td>
                 JC RAJESH KUMAR SARUF
                </td>
              </tr>
               <tr>
                <td>
                Email Id
                </td>
                <td>
                 areaa@jciindia.in/busns@jciindia.in
                </td>
              </tr>
          </table>
  </div>
</div>
</ion-row>
   
<!--</ion-row>-->

<ion-row>
      <div class="col-md-12 subhead">
       AREA B & PORTFOLIO: G & D/EVENTS/OFFICER VISIT	

      </div>
      <div class="col-sm-12 col-md-12 box5" style="background-image: url(assets/images/blue-color-background-wallpaper-4.jpg);background-size:cover;position: relative;background-position: center center;
              ">
          <div class="col-md-12 leftimg" text-center>
               <img src="assets/images/nhq/Dhiraj-Rawat.png">
               <h3> Mr. DHIRAJ RAWAT
</h3>
          </div>
          
      
 
 
       <div class="col-md-12">
           <table>
               
               <tr>
                 <td>
                   Alloted Zone
                 </td>
                 <td>
                   II,XII,XVI,XVIII, XIX

                 </td>
               </tr>
               <tr>
                 <td>
                   Assigned EVP
                 </td>
                 <td>
                   JC CHIRAG SHAH

                 </td>
               </tr>
               <tr>
                 <td>
                   Assigned National Director
                 </td>
                 <td>
                  JC G. UMABALAMURALI

                 </td>
               </tr>
                <tr>
                 <td>
                 Email Id
                 </td>
                 <td>
                   areab@jciindia.in/gdns@jciindia.in

                 </td>
               </tr>
           </table>
   </div>
 </div>
</ion-row>
<ion-row>
      <div class="col-md-12 subhead">
        AREA C & PORTFOLIO: TRAINING/JCI MATTERS	

      </div>
      <div class="col-sm-12 col-md-12 box5" style="background-image: url(assets/images/blue-color-background-wallpaper-4.jpg);background-size:cover;position: relative;background-position: center center;
              ">
          <div class="col-md-12 leftimg" text-center>
               <img src="assets/images/nhq/Patricia-Fonseca.JPG">
               <h3>Mrs. PATRICIA</h3>
          </div>
          
      
 
 
       <div class="col-md-12">
           <table>
               
               <tr>
                 <td>
                   Alloted Zone
                 </td>
                 <td>
                  IV, V,VII,XV,XX

                 </td>
               </tr>
               <tr>
                 <td>
                   Assigned EVP
                 </td>
                 <td>
                   JC KAVEEN KUMAR

                 </td>
               </tr>
               <tr>
                 <td>
                   Assigned National Director
                 </td>
                 <td>
                  JC SIDHIQUE C K

                 </td>
               </tr>
                <tr>
                 <td>
                 Email Id
                 </td>
                 <td>
                  areac@jciindia.in/trgns@jciindia.in

                 </td>
               </tr>
           </table>
   </div>
 </div>

</ion-row>

  <ion-row>
      <div class="col-md-12 subhead">
        AREA D & PORTFOLIO: PROGRAM/JCI INDIA FOUNDATION	

      </div>
      <div class="col-sm-12 col-md-12 box5" style="background-image: url(assets/images/blue-color-background-wallpaper-4.jpg);background-size:cover;position: relative;background-position: center center;
              ">
          <div class="col-md-12 leftimg" text-center>
               <img src="assets/images/nhq/Nandini-Paul.JPG">
               <h3>  Mrs. NANDINI PAUL</h3>
          </div>
          
      
 
 
       <div class="col-md-12">
           <table>
               
               <tr>
                 <td>
                   Alloted Zone
                 </td>
                 <td>
                 VI,IX,XI,XXIV,XXV

                 </td>
               </tr>
               <tr>
                 <td>
                   Assigned EVP
                 </td>
                 <td>
                   JC REKHA RATHORE

                 </td>
               </tr>
               <tr>
                 <td>
                   Assigned National Director
                 </td>
                 <td>
                 JC ASHWANI KUMAR

                 </td>
               </tr>
                <tr>
                 <td>
                 Email Id
                 </td>
                 <td>
                  aread@jciindia.in/prgns@jciindia.in

                 </td>
               </tr>
           </table>
   </div>
 </div>

</ion-row>

<ion-row>
      <div class="col-md-12 subhead">
        AREA E & PORTFOLIO: MANAGEMENT/AWARD AND RECOGNITION/R & D	

      </div>
      <div class="col-sm-12 col-md-12 box5" style="background-image: url(assets/images/blue-color-background-wallpaper-4.jpg);background-size:cover;position: relative;background-position: center center;
              ">
          <div class="col-md-12 leftimg" text-center>
               <img src="assets/images/nhq/SETHU.JPG">
               <h3> Mr. SETHU</h3>
          </div>
          
      
 
 
       <div class="col-md-12">
           <table>
              
               <tr>
                 <td>
                   Alloted Zone
                 </td>
                 <td>
                VIII,X,XIII, XXII,XXIII

                 </td>
               </tr>
               <tr>
                 <td>
                   Assigned EVP
                 </td>
                 <td>
                   JC SANDEEP KUMAR

                 </td>
               </tr>
               <tr>
                 <td>
                   Assigned National Director
                 </td>
                 <td>
                JC M.K. KARTHIKEYAN

                 </td>
               </tr>
                <tr>
                 <td>
                 Email Id
                 </td>
                 <td>
                 areae@jciindia.in/mgtns@jciindia.in

                 </td>
               </tr>
           </table>
   </div>
 </div>

</ion-row>

<ion-row>
      <div class="col-md-12 subhead" id="mservice">
       MEMBERSHIP SERVICE DEPARTMENT
      </div>
      <div class="col-sm-12 col-md-12 box5" style="background-image: url(assets/images/blue-color-background-wallpaper-4.jpg);background-size:cover;position: relative;background-position: center center;
              ">

            <div class="col-md-12">

              <table>

                <tr>
             <td class="nhqimg">
                <div class="col-md-12" text-center>
               <img src="assets/images/nhq/RAMESH-.JPG">
               </div>
                <div class="col-md-12 boldname " text-center >
                Mr. RAMESH NEGI
               </div>
               <div class="col-md-12" text-center>
                 Alloted Zones
               </div>
                <div class="col-md-12" text-center>
                I,VIII,XIII,XV,XVIII,XX

               </div>
                <div class="col-md-12" text-center>
               Email Id
               </div>
                 <div class="col-md-12" text-center>
                 mems3@jciindia.in

               </div>

             </td>

             <td class="nhqimg">
              <div class="col-md-12" text-center>
               <img src="assets/images/nhq/SHAHNAWAZ.JPG">
               </div>
                <div class="col-md-12 boldname " text-center>
                Mr. SHAHNAWAZ ALAM
               </div>
               <div class="col-md-12" text-center>
                 Alloted Zones
               </div>
                <div class="col-md-12" text-center>
                VI, IX, XVII, XIX, XXIV, XXV

               </div>
                <div class="col-md-12" text-center>
               Email Id
               </div>
                 <div class="col-md-12" text-center>
              mems2@jciindia.in
               </div>

             </td>

                </tr>


                <tr>
             <td class="nhqimg">
                <div class="col-md-12" text-center>
               <img src="assets/images/nhq/SHAILESH.jpg">
               </div>
                <div class="col-md-12 boldname " text-center>
               Mr. SHAILESH B
               </div>
               <div class="col-md-12" text-center>
                 Alloted Zones
               </div>
                <div class="col-md-12" text-center>
                III, IV, XI, XIV, XVI, XXII

               </div>
                <div class="col-md-12" text-center>
               Email Id
               </div>
                 <div class="col-md-12" text-center>
               mems4@jciindia.in
               </div>

             </td>

             <td class="nhqimg">
              <div class="col-md-12" text-center>
               <img src="assets/images/nhq/PAWAN.JPG">
               </div>
                <div class="col-md-12 boldname " text-center>
                Mr. PAWAN NEGI
               </div>
               <div class="col-md-12" text-center>
                 Alloted Zones
               </div>
                <div class="col-md-12" text-center>
               II, V, VII, X, XII, XXI, XXIII

               </div>
                <div class="col-md-12" text-center>
               Email Id
               </div>
                 <div class="col-md-12" text-center>
             mems6@jciindia.in
               </div>

             </td>

                </tr>
              </table>
            </div>  

            </div>
          </ion-row>

<!--</ion-row>-->

<!--<ion-row>
      <div class="col-md-12 subhead" id="frntdesk">
        FRONT DESK
      </div>
      <div class="col-sm-12 col-md-12 box5" style="background-image: url(assets/images/blue-color-background-wallpaper-4.jpg);background-size:cover;position: relative;background-position: center center;
              ">
          <div class="col-md-12 leftimg" text-center>
               <img src="assets/images/nhq/SUMAIYA.png">
               <h3>Ms. SUMAIYA CHUNAWALA</h3>
          </div>
          
      
 
 
       <div class="col-md-12">
           <table>
              
               <tr>
                 <td>
                   Alloted Zone
                 </td>
                 <td>
                 XII, XVI,XX
                 </td>
               </tr>
               
               
                <tr>
                 <td>
                 Email Id
                 </td>
                 <td>
                mems5@jciindia.in
                 </td>
               </tr>
           </table>
   </div>
 </div>

</ion-row>-->

<ion-row>
      <div class="col-md-12 subhead" id="fd">
      FINANCE, MAINTAINS OF STATUTORY RECORDS
      </div>
      <div class="col-sm-12 col-md-12 box5" style="background-image: url(assets/images/blue-color-background-wallpaper-4.jpg);background-size:cover;position: relative;background-position: center center;
              ">
         
      
 
 
       <div class="col-md-12">

              <table>

                <div class="col-md-12 nhqimgnew" text-center>
               <img src="assets/images/nhq/SATE.JPG">
               </div>
                <div class="col-md-12 nametext boldname" text-center>
                Mr. SATE SINGH
               </div>

                 <tr>
             <td>
                <div class="col-md-12 nhqimg" text-center>
               <img src="assets/images/nhq/Mr.-Suresh.png">
               </div>
                <div class="col-md-12 boldname" text-center>
             Mr. SURESH M 
               </div>
               

             </td>

             <td>
              <div class="col-md-12 nhqimg" text-center>
               <img src="assets/images/nhq/prajakta.png">
               </div>
                <div class="col-md-12 boldname" text-center>
                Mrs. PRAJAKTA S
               </div>
              </td>

                </tr>

              </table>
              <div class="col-md-12" text-center style="font-size:13px;color:#910c1c">
                 finance@jciindia.in
              </div>
   </div>
 </div>

</ion-row>

<ion-row>
      <div class="col-md-12 subhead">
        PROGRAM OFFICER
      </div>
      <div class="col-sm-12 col-md-12 box5" style="background-image: url(assets/images/blue-color-background-wallpaper-4.jpg);background-size:cover;position: relative;background-position: center center;
              ">
          <div class="col-md-12 leftimg" text-center>
               <img src="assets/images/nhq/DEEPAK.JPG">
          </div>
          
      
 
 
       <div class="col-md-12 boldname" text-center style="font-size:13px;color:#910c1c">
        Mr. DEEPAK INGALE
           </div>
   
 </div>

</ion-row>

<ion-row>
      <div class="col-md-12 subhead" id="communication">
        COMMUNICATION  DEPARTMENT
      </div>
      <div class="col-sm-12 col-md-12 box5" style="background-image: url(assets/images/blue-color-background-wallpaper-4.jpg);background-size:cover;position: relative;background-position: center center;
              ">
         
          
      <div class="col-md-12">

          <table>
           <tr>
             <td class="nhqimg">
                <div class="col-md-12" text-center>
               <img src="assets/images/nhq/VIKRAM.JPG">
               </div>
                <div class="col-md-12 boldname" text-center>
             Mr. VIKRAM NEGI
               </div>
               

             </td>

             <td class="nhqimg">
              <div class="col-md-12" text-center>
               <img src="assets/images/nhq/TUKARAM.JPG">
               </div>
                <div class="col-md-12 boldname" text-center>
               Mr.TUKARAM TIKAM
               </div>
              </td>

                </tr>
                
          </table>
           <div class="col-md-12" text-center style="font-size:13px;color:#910c1c">
                desns@jciindia.in
              </div>

      </div>
 
 
      
   
 </div>

</ion-row>


<ion-row>
      <div class="col-md-12 subhead">
        SUB STAFF	

      </div>
      <div class="col-sm-12 col-md-12 box5" style="background-image: url(assets/images/blue-color-background-wallpaper-4.jpg);background-size:cover;position: relative;background-position: center center;
              ">
          <div class="col-md-12 leftimg" text-center>
               <img src="assets/images/nhq/suraj.jpg">
          </div>
          
      
 
 
       <div class="col-md-12 boldname" text-center style="font-size:13px;color:#910c1c">
        Mr. SURAJ REWALE	

           </div>
   
 </div>

</ion-row>


<ion-row>
      <div class="col-md-12 subhead">
      COMMUNICATION ADDRESS
     </div>
      <div class="col-sm-12 col-md-12 box5" style="background-image: url(assets/images/blue-color-background-wallpaper-4.jpg);background-size:cover;position: relative;background-position: center center;
              ">
        
      
 
 
       <div class="col-md-12 address">
           <table>
               <tr>
                 <td class="caddress">
                  Junior Chamber International
                 </td>
                
               </tr>
               
               <tr>
                 <td class="caddress">
                506 Windfall, Sahar Plaza, J.B. Nagar,
                 </td>
                
               </tr>
               <tr>
                <td class="caddress">
                 Near Chakala Metro Station </td>
               </tr>
               <tr>
                <td class="caddress">
              Andheri (East), Mumbai-400059
                </td>
               </tr>
               <tr>
                <td class="caddress">
                  Tel-(022)- 71117112
                </td>
               </tr>
              
           </table>
   </div>

    
 </div>

</ion-row>


</ion-content>





 

 


 

