.logoimg
{
	width:10%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
.ctitl
{
	    font-size: 14px;
}
.zone
{padding:10px 5px 10px 10px;
	width:100%;
	float:left;
	/*background-color:#F9F9F9;*/
	border-bottom:1px solid #ddd;
	background-color: #fff;
	
	

}
.zone1
{padding:10px 5px 10px 10px;
	width:100%;
	float:left;
	background-color:#BFDFFF;
	border-bottom:1px solid #2196f3;
	border-top:1px solid #2196f3;
	
	

}
.zcnt
{
	width:94%;
	float:left;
	    font-size:11px;
	    padding: 2px 0px 2px 0px;

}
.zright
{
	
	float:right;
}
ion-icon
{
	color:#03a9f4;
}