<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      HOME
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  
  <div class="col-md-12 col-sm-12 logomainpage" text-center>
    <img src="assets/images/logo.png">
</div>

<div class="col-md-12 top1">
  <div class="col-sm-12 col-md-4 subdiv" (click)="ngb()" >
         <div class="maind">
               <div class="cleft" style="background-color:#9C27B0" text-center>
                   <img src="assets/images/politician.png"/>
               </div>

              <div class="cright" text-center>
                 <h5>CURRENT NGB</h5>
             </div>

             <div class="rightBar" text-center style="background-color:#9C27B0">   </div>

        </div>
  </div>



  <div class="col-sm-12 col-md-4 subdiv" (click)="pngb()" >
         <div class="maind">
               <div class="cleft" style="background-color:#009688" text-center>
                   <img src="assets/images/politician.png"/>
               </div>

              <div class="cright">
               <h5>PAST NGB</h5>
             </div>

             <div class="rightBar" text-center style="background-color:#009688">   </div>

        </div>
  </div>

  <div class="col-sm-12 col-md-4 subdiv" (click)="zone()" >
         <div class="maind">
               <div class="cleft" style="background-color:#CDDC39" text-center>
                   <img src="assets/images/sign.png"/>
               </div>

              <div class="cright">
               <h5>ZGB</h5>
             </div>

             <div class="rightBar" text-center style="background-color:#CDDC39">   </div>
        </div>
  </div> 

  <div class="col-sm-12 col-md-4 subdiv" (click)="committee()" >
         <div class="maind">
               <div class="cleft" style="background-color:#ff008d" text-center>
                   <img src="assets/images/meeting.png"/>
               </div>

              <div class="cright">
               <h5>COMMITTEES</h5>
             </div>

             <div class="rightBar" text-center style="background-color:#ff008d">   </div>
        </div>
  </div>

    <div class="col-sm-12 col-md-4 subdiv" (click)="nhq()" >
         <div class="maind">
               <div class="cleft" style="background-color:#03a9f4" text-center>
                   <img src="assets/images/NHQ.png"/>
               </div>

              <div class="cright">
               <h5>NATIONAL HEAD QUARTER</h5>
             </div>
             <div class="rightBar" text-center style="background-color:#03a9f4">   </div>
        </div>
  </div>

  <div class="col-sm-12 col-md-4 subdiv" (click)="events()" >
         <div class="maind">
               <div class="cleft" style="background-color:#4caf50" text-center>
                   <img src="assets/images/calendar.png"/>
               </div>

              <div class="cright">
               <h5>EVENTS</h5>
             </div>

             <div class="rightBar" text-center style="background-color:#4caf50" >   </div>
        </div>
  </div>

  <div class="col-sm-12 col-md-4 subdiv" (click)="nom()" >
    <div class="maind">
          <div class="cleft" style="background-color:#4caf50" text-center>
              <img src="assets/images/meeting.png"/>
          </div>

         <div class="cright">
          <h5>NOM COORDINATORS</h5>
        </div>

        <div class="rightBar" text-center  style="background-color:#4caf50">   </div>
   </div>
</div>



   <div class="col-sm-12 col-md-4 subdiv" (click)="pnps()" >
         <div class="maind">
               <div class="cleft" style="background-color:#3f51b5" text-center>
                   <img src="assets/images/politician.png"/>
               </div>

              <div class="cright">
               <h5>PAST NATIONAL PRESIDENTS</h5>
             </div>

             <div class="rightBar" text-center  style="background-color:#3f51b5">   </div>
        </div>
  </div>


   <div class="col-sm-12 col-md-4 subdiv" (click)="trainers()" >
         <div class="maind">
               <div class="cleft" style="background-color:#03a9f4" text-center>
                   <img src="assets/images/coach.png"/>
               </div>

              <div class="cright">
               <h5>NATIONAL TRAINERS</h5>
             </div>

             <div class="rightBar" text-center style="background-color:#03a9f4">   </div>
        </div>
  </div>

    <div class="col-sm-12 col-md-4 subdiv" (click)="lom()" >
         <div class="maind">
               <div class="cleft" style="background-color:#CDDC39" text-center>
                   <img src="assets/images/coach.png"/>
               </div>

              <div class="cright">
               <h5>LOM</h5>
             </div>

             <div class="rightBar" text-center style="background-color:#CDDC39">   </div>
        </div>
  </div> 
</div>




</ion-content>