<ion-header>
  <ion-toolbar color="primary">
    <!--<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>-->
    <ion-buttons slot="start" (click)="dashboard()">
      <!-- <ion-menu-button></ion-menu-button>-->
        <ion-icon name="home" style="font-size:23px;color:#fff"></ion-icon>
    </ion-buttons>
    <ion-title>
      Contact Us
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>

  <div class="col-md-12 col-sm-12" style="height:100%">
 
     <div class="col-md-12 col-sm-12 jvc" style="background-color:#def1ff;">
     <div class="col-md-12 col-sm-12 cmpnylogo" text-center>
      <img src="assets/images/spiderlogo.png">
     </div>
     <div class="col-md-12 col-sm-12 tech" text-center>
      <h5>Sajan C Nath</h5>
       <h5>Spiderline Technologies,</h5> 
       <h5> Infopark TBC Kaloor,Kochi</h5>
         <h5>Emal:info@spiderline.in</h5>
          <h5>Tel : +91 484 4054443</h5>
          <h5>Mob : +91 9745 366 367</h5>
     </div>
   
     </div> 
   
   
</div>
 


  
</ion-content>


