.logoimg
{
	width:10%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
.ttitle
{
	font-size:14px;
}

.zone
{padding:10px 5px 10px 10px;
	width:100%;
	float:left;
	background-color:#F9F9F9;
	border-bottom:1px solid #ddd;
	
	

}
.zone1
{padding:10px 5px 10px 10px;
	width:100%;
	float:left;
	background-color:#BFDFFF;
	border-bottom:1px solid #ddd;
	
	

}
.zcnt
{
	width:80%;
	float:left;
    font-size: 14px;

}
.zright
{
	
	float:right;
}
ion-icon

{
	color:#03a9f4;
}
.jvc
{
	float:left;
	width:100%;
	height:100%;
	border-bottom:1px solid #ddd;
	text-align:justify;
	font-size: 14px;
	line-height: 20px;
	padding:2px 17px 15px 17px;
	  

}
.cmpnylogo img
{
	
	max-width: 50%;
    border: 0;
       padding-top: 19.5%;
}
.tech p

{
margin-bottom:5px;

}
.tech h5
{
	font-size:12px;
	font-weight:bold;
	line-height:5px;
}
.tech
{
	margin-bottom:20%;
}
