<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="zone"></ion-back-button>
    </ion-buttons>
    <ion-title >
    {{title}}
    </ion-title>
    <!--
    <ion-buttons slot="end">
      <ion-button routerLink="/create"><ion-icon name="add-circle"></ion-icon></ion-button>
    </ion-buttons>
    -->
  </ion-toolbar>
</ion-header>




<ion-content class="backgrounddetails">

  <ion-searchbar class="serch" [(ngModel)]="searchKey"></ion-searchbar>
  <ion-row *ngFor="let data of listData | filter : searchKey">
      <div class="col-sm-12 col-md-12 box" >
              <div class="col-md-12 col-sm-12" text-center>
          <div class="col-md-6 leftimg" text-center>
              <img src="assets/images/jc.png">
          </div>
        </div>
        <div class="col-md-12 col-sm-12" text-center>
          <div class="col-md-6 rightcnt" text-center>
            <h3 >{{data.zone_members_name}}</h3>
           
            <h4>{{data.zone_members_designation}}</h4>
          </div>
        </div>


      <div class="col-md-12">
          <div id="cont">
              <ul>
                <li> <ion-icon name="home"></ion-icon>{{data.zone_members_lom}}</li>
                <li (click)="makecall(data.zone_members_mobile)"> <ion-icon name="call"></ion-icon>{{data.zone_members_mobile}} </li>  
                <li (click)="savemail(data.zone_members_email)"> <ion-icon name="mail"></ion-icon>{{data.zone_members_email}}</li>
                <li> <ion-icon name="pin"></ion-icon>{{data.zone_members_address}}</li>
            </ul>
          </div>
  </div>
</div>
</ion-row>


  


</ion-content>





    

